*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}



/* UTILITIES */

.Container{
    width: 1170px;
    margin: 0 auto;
}

.Clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER */

header{
    margin-bottom: 40px;
}

header .brand img{
    width: 165px;
    border-right: 1 pc solid #858585;
}

.nav-menu{
    margin-top: 40px;
}

.nav-menu li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.nav-menu li:last-child{
    margin-right: 0;
}

.nav-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
}






/* MAIN */


